In [34]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import SGDRegressor
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

# Assignment 2 - Regression
### Predict the TOTAL COMPENSATION for this year. 

The data file provided is a salary survey for tech workers in Europe. We want to predict the total amount of compensation they bring in each year, based off of the details of their work. 

Some notes that will be important:
<ul>
    <li>The total compensation will need to be constructed, there is a column for salary, "Yearly brutto salary (without bonus and stocks) in EUR", as well as a column for bonus compensation, "Yearly bonus + stocks in EUR". 
    <li>Some categorical variables will need some work, and there isn't generally an exact answer. The main concern is things with categories that have a bunch of values with a very small count. For example, if there is only 1 person in City X, then that value likely needs to be addressed. We don't want it encoded into a new column of one 1 and thousands of 0s. 
    <li>There is an article exploring some of the data here: https://www.asdcode.de/2021/01/it-salary-survey-december-2020.html
    <li>Imputation and a bit of data manipulation will be required. 
    <li>Use any regression method you'd like. Some ones are closely related to what we've done, you may want to look at them, e.g. ExtraTreesRegressor. 
    <li>Initial accurracy, and potentially final accuracy, may not be great. When I made a plain model will little optimization the errors were large and the R2 was low. There is lots of room for optimization. 
    <li>Research challenge - try some work on the target, look into TransformedTargetRegressor and see if that helps. Recall in stats when we had skewed distributions... Maybe it helps, maybe it doesn't. 
    <li>EDA and data prep are up to you - you'll probably need to do a little exploring to figure out what cleanup is needed. When I did it, I did things kind of iteratively when I did it. For example, look at the value counts, figure out how to treat the different categories, clean something up, look at the results, potentially repeat if needed. After you figure out what needs to be done, you may be able to take some of those steps and incorporate them into a pipeline to be cleaner....
    <li><b>CRITICAL - Please make sure your code runs with RUN ALL. It should load the data that you're given, do all the processing, and spit out results. Comment out or remove anything that you've cleaned up and don't need - e.g. if you scaled a value manually, then moved that into a pipeline, don't leave the original scaling code active when the file is run.</b>
</ul>

### Details and Deliverables

You'll need to build code to produce the predictions. In particular, there's a few things that'll be marked:
<ul>
    <li>Please add a markdown cell at the bottom, and put in a few notes addressing the following:
    <ul>
        <li> Accuracy of your models with/without feature selection. Include both train/test for each. Please use R2 and RMSE. 
        <li> Feature Selection - Please identify what you did for feature selection. No need for a long explaination, something along the lines of "I did X, and the result was that 4 features were removed". Try at least 2 things. 
        <li> Hyperparameter Changes / Grid Search Improvements. What did you try, and why. Similar explaination to above, short. 
        <li> Overall this section should be roughly as long as this intro block - just outline what the results were, what you did to improve, and the results after. 
        <li> If you could use titles/bullet points I'd really appreciate it. 
    </ul>
    <li>Grade Breakdown:
    <ul>
        <li> Code is readable, there are comments: 20%
        <li> Explaination as defined above: 60% (20% each point)
        <li> Accuracy: 20% As compared to everyone else. This will be generously graded, I won't be surprised if overall accuracy is low for most people. 
    </ul>
</ul>

In [35]:
#Load Data
df = pd.read_csv("data/Euro_Salary.csv")
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Timestamp,1253,1248,24/11/2020 13:55:19,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,1226.0,NaN,NaN,NaN,32.509788,5.663804,20.0,29.0,32.0,35.0,69.0
Gender,1243,3,Male,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1253,119,Berlin,681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,1247,148,Software Engineer,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total years of experience,1237,48,10,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years of experience in Germany,1221,53,2,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seniority level,1241,24,Senior,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Your main technology / programming language,1126,256,Java,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other technologies/programming languages you use often,1096,562,Javascript / Typescript,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly brutto salary (without bonus and stocks) in EUR,1253.0,NaN,NaN,NaN,80279042.578715,2825061107.590495,10001.0,58800.0,70000.0,80000.0,99999999999.0
Yearly bonus + stocks in EUR,829,168,0,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of vacation days,1185,45,30,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment status,1236,11,Full-time employee,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Сontract duration,1224,3,Unlimited contract,1159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main language at work,1237,14,English,1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company size,1235,5,1000+,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company type,1228,63,Product,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df.sample(10)

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type
840,27/11/2020 13:21:26,25.0,Female,Munich,ML Engineer,1,1,Junior,AI,"Python, SQL",57000.0,NaN,30,Full-time employee,Unlimited contract,English,1000+,Product
127,24/11/2020 12:01:01,30.0,Male,Munich,Frontend Developer,6,1,Senior,Javascript,"Javascript / Typescript, AWS, Docker",75000.0,101,28,Full-time employee,Unlimited contract,English,51-100,Product
1067,03/12/2020 08:53:41,32.0,Male,Berlin,Software Engineer,13,5,Lead,JavaScript,"Javascript / Typescript, SQL, AWS, Docker",83000.0,3000,30,Full-time employee,Unlimited contract,English,1000+,Product
218,24/11/2020 13:25:57,45.0,Male,Berlin,Mobile Developer,10,4,Lead,SWIFT,"Swift, Javascript / Typescript, Java / Scala, ...",77000.0,2000,28,Full-time employee,Unlimited contract,English,101-1000,Product
1216,01/01/2021 10:51:57,30.0,Male,Berlin,Backend Developer,10,4,Lead,Java,"Python, AWS, Kubernetes, Docker",82000.0,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Startup
567,25/11/2020 12:44:08,30.0,Male,Berlin,Product Manager,3,3,Junior,NaN,NaN,30000.0,NaN,30,Full-time employee,Unlimited contract,English,11-50,Product
189,24/11/2020 12:44:58,31.0,Male,Mannheim,Firmware Engineer,10,3,Senior,C,"Python, C/C++",45000.0,NaN,30,Full-time employee,Temporary contract,English,11-50,Product
9,24/11/2020 11:17:50,35.0,Male,Berlin,Software Engineer,15,3,Lead,Java,NaN,95000.0,NaN,30,Full-time employee,Unlimited contract,English,101-1000,Product
610,25/11/2020 14:34:19,25.0,Male,Berlin,ML Engineer,4.5,2,Middle,"Spark, Pytorch",Python,75000.0,15000,30,Full-time employee,Unlimited contract,English,11-50,Startup
639,25/11/2020 16:42:43,36.0,Female,Berlin,Data Scientist,5,5,Senior,Python,"Python, Java / Scala, SQL, AWS",75000.0,0,28,Part-time employee,Unlimited contract,English,51-100,Startup

In [37]:
#df.info()
df["Other technologies/programming languages you use often"].value_counts()

Javascript / Typescript                                                                   44
Python                                                                                    37
SQL                                                                                       31
AWS, Docker                                                                               16
Kotlin                                                                                    15
                                                                                          ..
Python, Ruby, Java / Scala, Go, Rust, AWS, Kubernetes, Docker, Terraform, helm, packer     1
Kotlin, SQL, AWS, Kubernetes, Docker                                                       1
Python, R, Go                                                                              1
C/C++, PHP, SQL                                                                            1
Python, AWS, Kubernetes, Docker, terraform, ansible                                        1
Name: Other technologies/programming languages you use often, Length: 562, dtype: int64

In [6]:
df.head()

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",80000.0,5000,30,Full-time employee,Unlimited contract,English,51-100,Product
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,80000.0,NaN,28,Full-time employee,Unlimited contract,English,101-1000,Product
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",120000.0,120000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,54000.0,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",62000.0,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product

# Answers and Explainations
(Expand/modify as needed)

### Results

### Feature Selection Activities

### Hyperparameter Changes

In [7]:
# Cleaning .. Yearly brutto salary (without bonus and stocks) in EUR

# Look for nan or missing values
print(df['Yearly brutto salary (without bonus and stocks) in EUR'].isna().sum(), ': nan values found in col1')
print(df['Yearly bonus + stocks in EUR'].isna().sum(),
      ': nan values found in col2')

0 : nan values found in col1
424 : nan values found in col2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 18 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Timestamp                                               1253 non-null   object
 1   Age                                                     1226 non-null   float64
 2   Gender                                                  1243 non-null   object
 3   City                                                    1253 non-null   object
 4   Position                                                1247 non-null   object
 5   Total years of experience                               1237 non-null   object
 6   Years of experience in Germany                          1221 non-null   object
 7   Seniority level                                         1241 non-null   object
 8   Your main technology / programming language             1126 non-null   object
 9   Other technologies/programming languages you use often  1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR  1253 non-null   float64
 11  Yearly bonus + stocks in EUR                            829 non-null    object
 12  Number of vacation days                                 1185 non-null   object
 13  Employment status                                       1236 non-null   object
 14  Сontract duration                                       1224 non-null   object
 15  Main language at work                                   1237 non-null   object
 16  Company size                                            1235 non-null   object
 17  Company type                                            1228 non-null   object
dtypes: float64(2), object(16)
memory usage: 176.3+ KB

In [46]:
# Extract columns
s1 = df['Yearly bonus + stocks in EUR']
s2 = df['Yearly brutto salary (without bonus and stocks) in EUR']

In [47]:
# Convert non float number to nan in column 'Yearly bonus + stocks in EUR'
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False


s1 = s1[s1.map(isnumber)]

In [48]:
# Fill NA/NaN values with 0.
s1 = s1.fillna(0)

In [49]:
# Constructing total compensation
s1 = s1.astype('float64')
total_compensation = s1.add(s2, fill_value=0)
df["Compensation"] = total_compensation

In [50]:
# Data Cleaning : removing col
df.drop(columns={'Yearly bonus + stocks in EUR', 'Yearly brutto salary (without bonus and stocks) in EUR', 'Timestamp'}, inplace=True)
df.head()

,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Compensation
0,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",30,Full-time employee,Unlimited contract,English,51-100,Product,85000.0
1,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,28,Full-time employee,Unlimited contract,English,101-1000,Product,80000.0
2,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,240000.0
3,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,54000.0
4,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",29,Full-time employee,Unlimited contract,English,101-1000,Product,62000.0

In [53]:
# display all column names of DataFrame
print(df.columns.tolist())

['Age', 'Gender', 'City', 'Position ', 'Total years of experience', 'Years of experience in Germany', 'Seniority level', 'Your main technology / programming language', 'Other technologies/programming languages you use often', 'Number of vacation days', 'Employment status', 'Сontract duration', 'Main language at work', 'Company size', 'Company type', 'Compensation']

In [54]:
# Feature selection

df['Position '].value_counts()

Software Engineer            387
Backend Developer            174
Data Scientist               110
Frontend Developer            89
QA Engineer                   71
                            ...
Testautomation                 1
Recruiter                      1
DBA                            1
DB developer/Data analyst      1
IT Operations Manager          1
Name: Position , Length: 148, dtype: int64

In [55]:
df['City'].value_counts()

Berlin         681
Munich         236
Frankfurt       44
Hamburg         40
Stuttgart       26
              ...
Nuremberg        1
Lübeck           1
Malta            1
Dresden          1
Saarbrücken      1
Name: City, Length: 119, dtype: int64

In [59]:
# Function to replaces values with low frequency
def replace_low_freq(d, col, threshold=10, replacement = 'other'):
    value_counts = d[col].value_counts()
    to_remove = value_counts[value_counts <= threshold].index
    tmp = d[col].replace(to_replace = to_remove, value = replacement)
    return tmp

In [61]:
# Grouping values
df['Other technologies/programming languages you use often'] = replace_low_freq(df, 'Other technologies/programming languages you use often', 10, 'other')
df['Your main technology / programming language'] = replace_low_freq(df, 'Your main technology / programming language', 10, 'other')